* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* ==================== Header & Navigation ==================== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgb(9, 157, 161);
  box-shadow: 0px 2px 8px rgba(9, 157, 161, 0.2);
  flex-wrap: wrap;
  background-color: #fff;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}



